<mat-toolbar color="primary">
    <span>Domáci inventár</span>
    
    <span class="fill-remaining-space"></span>

    <a mat-button [routerLink]="'/data'">Veci</a>
    <a mat-button [routerLink]="'/places'">Miesta</a>
    <a *ngIf="!isLoggedIn()" mat-button [routerLink]="'/login'">Prihlásenie</a>
    <a *ngIf="isLoggedIn()" mat-button (click)="logout()">Odhlásiť sa</a>
  </mat-toolbar>
