<mat-table [dataSource]='placeData'>
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Názov</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef>Umiestnenie</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.location}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef>Foto</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.image}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Úkony</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openShouldDeleteDialog(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="placeColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: placeColumns;"></mat-row>
</mat-table>
<button class="addFab" mat-fab color="accent" (click)="openNewPlaceDialog()">+</button>

