<div class="loginForm">
    <h2 class="mat-h2">Prihlásenie</h2>
    <form (submit)="logUser()" color="primary">
        <mat-form-field class="fullWidth" color="primary" appearance="standard">
            <mat-label>Meno a priezvisko</mat-label>
            <input matInput [(ngModel)]="model.username" [formControl]="usernameFormControl" required>
            <mat-icon matPrefix>person</mat-icon>
            <mat-error *ngIf="usernameFormControl.hasError('required')">"Meno a priezvisko" je povinné pole</mat-error>
        </mat-form-field>
        <mat-form-field class="fullWidth" appearance="standard">
            <mat-label>Heslo</mat-label>
            <input matInput type="password" [(ngModel)]="model.password" [formControl]="passwordFormControl" required>
            <mat-icon matPrefix>lock</mat-icon>
            <mat-error *ngIf="passwordFormControl.hasError('required')">"Heslo" je povinné pole</mat-error>
        </mat-form-field>
        <br/>
        <div style="display: flex; justify-content: space-between;">
            <button mat-raised-button color="accent" type="submit">Prihlásiť sa</button>
            <a mat-button [routerLink]="'/register'">Registrácia</a>
        </div>
    </form>
</div>