<h1 mat-dialog-title color="warn">Upozornenie</h1>
<div mat-dialog-content>
    <p>Ste si istý, že chcete vymazať záznam: {{data.name}}?</p>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Späť</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">Vymazať</button>
</div>