<h1 mat-dialog-title>Vložiť novú vec do inventára</h1>
<form (submit)="onSubmit(data)">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Názov</mat-label>
      <input matInput [(ngModel)]="data.name" [formControl]="nameFormControl" required>
      <mat-error *ngIf="nameFormControl.hasError('required')">"Názov" je povinné pole</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Popis</mat-label>
      <input matInput [(ngModel)]="data.note" [formControl]="noteFormControl">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Umiestnenie</mat-label>
      <mat-select [(ngModel)]="selectedPlace" [formControl]="placeFormControl" required>
        <mat-option *ngFor="let place of data.places" [value]="place">
          {{place.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="placeFormControl.hasError('required')">"Umiestnenie" je povinné pole</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">Zavrieť</button>
    <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Vložiť</button> -->
    <button mat-button type="submit">Vložiť</button>
  </div>
</form>