<mat-table [dataSource]='itemData'>
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Názov</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="note">
        <mat-header-cell *matHeaderCellDef>Poznámka</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.note}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="place">
        <mat-header-cell *matHeaderCellDef>Miesto</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.place.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Úkony</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openShouldDeleteDialog(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="itemColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: itemColumns;"></mat-row>
</mat-table>
<button class="addFab" mat-fab color="accent" (click)="openNewItemDialog()">+</button>
