<div class="registerForm">
    <h2 class="mat-h2">Registrácia</h2>
    <form (submit)="registerUser()" color="primary">
        <mat-form-field class="fullWidth" color="primary" appearance="standard">
            <mat-label>Meno a priezvisko</mat-label>
            <input matInput [(ngModel)]="model.username" [formControl]="usernameFormControl" required>
            <mat-icon matPrefix>person</mat-icon>
            <mat-error *ngIf="usernameFormControl.hasError('required')">"Meno a priezvisko" je povinné pole</mat-error>
        </mat-form-field>
        <mat-form-field class="fullWidth" color="primary" appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="model.email" [formControl]="emailFormControl" required>
            <mat-icon matPrefix>email</mat-icon>
            <mat-error *ngIf="emailFormControl.hasError('required')">"Email" je povinné pole</mat-error>
        </mat-form-field>
        <mat-form-field class="fullWidth" appearance="standard">
            <mat-label>Heslo</mat-label>
            <input matInput type="password" [(ngModel)]="model.password" [formControl]="passwordFormControl" required>
            <mat-icon matPrefix>lock</mat-icon>
            <mat-error *ngIf="passwordFormControl.hasError('required')">"Heslo" je povinné pole</mat-error>
        </mat-form-field>
        <mat-form-field class="fullWidth" appearance="standard">
            <mat-label>Zopakujte heslo</mat-label>
            <input matInput type="password" [(ngModel)]="model.passwordVerif" [formControl]="passwordVerifFormControl" required>
            <mat-icon matPrefix>lock</mat-icon>
            <mat-error *ngIf="passwordVerifFormControl.hasError('required')">"Zopakujte heslo" je povinné pole</mat-error>
        </mat-form-field>
        <br/>
        <button mat-raised-button color="accent" type="submit">Registrovať sa</button>
    </form>
</div>